<footer class="page-footer pt-4 ">

  <!--Call to action-->
  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-md-4">
        <div>
          <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fa fa-facebook fa-2x pl-4"></i>
          </a>

          <a href="https://twitter.com/MDBootstrap" target="_blank">
            <i class="fa fa-twitter fa-2x pl-4"></i>
          </a>
          <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
            <i class="fa fa-github fa-2x pl-4"></i>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <div class="row">
            <div class="col-md-4">
            <a href="#">Help</a>            
            </div>
            <div class="col-md-4">
              <a href="#">Privacy Policy</a>  
            </div>
            <div class="col-md-4">
              <a href="#">Terms of Use</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright d-flex justify-content-center align-items-center">
    © 2018 Copyright MDBootstrap.com 
  </div>
  <!--/.Copyright-->

</footer>